{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }

    .navbar {
        background-color: darkgreen;
        color: white;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-brand {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
    }

    .centered-container {
        text-align: center;
        margin-top: 250px;
    }

    .centered-text {
        font-size: 36px;
        font-weight: bold;
    }

    .action-button {
        display: inline-block;
        margin-top: 20px;
        padding: 15px 40px;
        border: none;
        border-radius: 5px;
        background-color: darkgreen;
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
        font-size: 20px;
    }

    .action-button:hover {
        background-color: #005700;
    }

    .logout-link {
        font-weight: bold;
    }

    .search-bar {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div class="navbar">
    <div class="navbar-brand">Marmut</div>
    <input type="text" class="search-bar" placeholder="Search">
    <nav>
        {% if not user_email %}
            <a href="{% url 'authentication:register_page' %}">Register</a>
            <a href="{% url 'authentication:login' %}">Login</a>
        {% endif %}       
    </nav>
</div>

<div class="centered-container">
    <div class="centered-text">
        Marmut - D15
    </div>
    <div class="centered-text">
        🎵🎧Listen to your music anytime, anywhere. With Marmut🎧🎵
    </div>
    {% if not user_email %}
        <a href="{% url 'authentication:register_page' %}" class="action-button">Register</a>
        <a href="{% url 'authentication:login' %}" class="action-button">Login</a>
    {% endif %}       
</div>

{% endblock %}
