{% extends 'base.html' %}

{% block content %}
<style>
    .container {
        text-align: center;
        padding: 20px;
    }

    h2 {
        margin-bottom: 20px;
    }

    .song-info {
        max-width: 600px;
        margin: 0 auto 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #ffffff;
        text-align: left;
    }

    .song-info p {
        margin: 5px 0;
    }

    .action-buttons-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .action-button {
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        border-radius: 5px;
        background-color: darkgreen;
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .action-button:hover {
        background-color: green;
    }

    .progress-slider {
        width: 70%;
        margin-bottom: 20px;
    }

    .progress-label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
</style>
<div class="container">
    <h2>Song Detail</h2>
    <div class="song-info">
        <p>Judul: {{ song.judul }}</p>
        <p>Genre(s):</p>
        <ul>
            {% for genre in song.genres %}
            <li>{{ genre }}</li>
            {% endfor %}
        </ul>
        <p>Artist: {{ song.artist }}</p>
        <p>Songwriter(s):</p>
        <ul>
            {% for songwriter in song.songwriters %}
            <li>{{ songwriter }}</li>
            {% endfor %}
        </ul>
        <p>Durasi: 0 jam {{ song.durasi }} menit</p>
        <p>Tanggal Rilis: {{ song.tanggal_rilis }}</p>
        <p>Tahun: {{ song.tahun }}</p>
        <p>Total Play: {{ song.total_play }}</p>
        <p>Album: {{ song.album }}</p>
    </div>

    <div class="progress-container">
        <form method="POST" action="{% url 'playlist:main_lagu' song.id_song %}">
            {% csrf_token %}
            <h3>Progress</h3>
            <span class="progress-label">0%</span>
            <input class="progress-slider" name = "progress" type="range" min="0" max="100" value="0" step="1" onchange="updateProgress(this.value)">
            <div class="action-buttons-container">
                <button type="submit" class="action-button" id="playButton">Play</button>
            </div> 
        </form> 
        <div class="action-buttons-container">
            <form method="GET" action="{% url 'playlist:lagu_ke_playlist' song.id_song %}">
                <button type="submit" class="action-button">Add to Playlist</button>
            </form>
            {% if request.session.user_type.is_premium %}
                <a href="{% url 'playlist:download_song' song.id_song %}" class="action-button">Download</a>
            {% endif %}
            <a href="" class="action-button">Kembali</a>
        </div> 
    </div>
</div>

<script>
    function updateProgress(value) {
        document.querySelector('.progress-label').innerText = value + "%";
    }
</script>

{% endblock %}