{% extends 'base.html' %}
{% block title %}
User Playlist
{% endblock %}

{% block content %}
<style>
    h2 {
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        color: #555;
    }

    .action-button {
        padding: 6px 12px;
        border: none;
        border-radius: 5px;
        background-color: darkgreen;
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
        font-size: 14px;
    }

    .action-button:hover {
        background-color: #005700;
    }

    .playlist-button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
    }
</style>

<div style="text-align: center; padding: 20px;">
    <h2>User Playlist</h2>
    <div id="playlist-info">
        {% if playlists %}
            <table id="playlist-table">
                <thead>
                    <tr>
                        <th>Judul</th>
                        <th>Jumlah Lagu</th>
                        <th>Total Durasi</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for playlist in playlists %}
                    <tr>
                        <td class="text-center">{{ playlist.judul }}</td>
                        <td class="text-center">{{ playlist.jumlah_lagu }}</td>
                        <td class="text-center">{{ playlist.total_durasi }}</td>
                        <td class="text-center">
                            <a href="{% url 'playlist:detail_playlist' playlist.id_user_playlist %}" class="playlist-button action-button" role="button">Detail</a>
                            <a href="{% url 'playlist:ubah_playlist' playlist.id_user_playlist %}" class="playlist-button action-button" role="button">Ubah</a>
                            <a href="{% url 'playlist:hapus_playlist' playlist.id_user_playlist %}" class="playlist-button action-button" role="button">Hapus</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p id="no-playlist-msg">Anda Belum Memiliki Playlist</p>
            {% for playlist in playlists %}
                <tr>
                    <td class="text-center">{{ playlist.judul }}</td>
                    <td class="text-center">{{ playlist.jumlah_lagu }}</td>
                    <td class="text-center">{{ playlist.total_durasi }}</td>
                    <td class="text-center">
                </tr>
            {% endfor %}
        {% endif %}
        <a href="{% url 'playlist:tambah_playlist' %}" class="playlist-button action-button" role="button">Tambah Playlist</a>
    </div>
</div>
{% endblock %}
