<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Album</title>
    <style>
        body {
            font-family: Arial;
        }

        h2 {
            text-align: center;
        }

        .container {
            max-width: 400px;
            margin: 20px auto;
        }
        
        .form {
            margin-bottom: 20px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h2>Create Album</h2>
        <div class="form">
            <label>Judul:</label>
            <input>
        </div>
        <div class="form">
            <label>Label:</label>
            <select>
                <option>Melodic Harmony Records</option>
                <option>RhythmZone Entertainment</option>
                <option>EchoVibe Productions</option>
            </select>
        </div>
        <button type="submit">Submit</button>
    </div>
</body>
</html>
