{% extends 'base.html' %}

{% block meta %}
    <title>Podcast List</title>
{% endblock meta %}

{% block content %}
<div class="m-3">
    <div>
        <h1>List Podcast</h1>
    </div>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>Judul</th>
            <th>Jumlah Episode</th>
            <th>Total Durasi</th>
            <th>Action</th>
        </tr>
        {% for podcast in podcasts %}
            <tr>
                <td>{{ podcast.1 }}</td>
                <td>{{ podcast.2 }}</td>
                <td>{{ podcast.3 }}</td>
                <td>
                    <a href="{% url 'podcast:list_episode' podcast_id=podcast.0 %}"><button>Lihat Daftar Episode</button></a><br>
                    <a href="{% url 'podcast:create_episode' podcast_id=podcast.0 %}"><button>Tambah Episode</button></a><br>
                    <a href="{% url 'podcast:delete_podcast' podcast_id=podcast.0 %}"><button>Hapus</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
