{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
<style>
    .centered-container {
        text-align: center;
        margin-top: 250px;
    }

    .centered-text {
        font-size: 36px;
        font-weight: bold;
    }
</style>
<div class="centered-container">
    <div class="centered-text">
        Marmut - D15
    </div>
    <div class="centered-text">
        🎵🎧Listen to your music anytime, anywhere. With Marmut🎧🎵
    </div>  
</div>

{% endblock %}