{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<style>

    .centered-container {
        text-align: center;
        margin-top: 250px;
    }

    .centered-text {
        font-size: 36px;
        font-weight: bold;
    }

    .action-button {
        display: inline-block;
        margin-top: 20px;
        padding: 15px 40px;
        border: none;
        border-radius: 5px;
        background-color: darkgreen;
        color: white;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
        font-size: 20px;
    }

    .action-button:hover {
        background-color: #005700;
    }

</style>

<div class="centered-container">
    <div class="centered-text">
        Marmut - D15
    </div>
    <div class="centered-text">
        🎵🎧Listen to your music anytime, anywhere. With Marmut🎧🎵
    </div>
    {% if not user_email %}
        <a href="{% url 'authentication:register_page' %}" class="action-button">Register</a>
        <a href="{% url 'authentication:login' %}" class="action-button">Login</a>
    {% endif %}       
</div>

{% endblock %}
